<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img width="100%" src="assets/images/MifosX_logo.png">
            </div>

            <div class="title">Create an account</div>

            <form name="registerForm" novalidate ng-submit="submit()">
                <md-input-container class="md-block" md-no-float>
                    <input name="officeId" ng-model="vm.form.officeId" placeholder="Head Office"
                           required>
                    <div ng-messages="registerForm.officeId.$error" role="alert">
                        <div ng-message="required">
                            <span>Office field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex class="md-block" md-no-float>
                        <input name="firstName" ng-model="vm.form.firstname" placeholder="First Name"
                               required>
                        <div ng-messages="registerForm.username.$error" role="alert">
                            <div ng-message="required">
                                <span>First Name field is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block" md-no-float>
                        <input name="lastName" ng-model="vm.form.lastname" placeholder="Last Name"
                               required>
                        <div ng-messages="registerForm.username.$error" role="alert">
                            <div ng-message="required">
                                <span>Last Name field is required</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex class="md-block" md-no-float>
                        <input name="active" ng-model="vm.form.active" placeholder="true"
                               required>
                        <div ng-messages="registerForm.username.$error" role="alert">
                            <div ng-message="required">
                                <span>Active? field is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block" md-no-float>
                        <input name="activationDate" ng-model="vm.form.activationDate" placeholder="dd MMMM yyyy"
                               required>
                        <div ng-messages="registerForm.username.$error" role="alert">
                            <div ng-message="required">
                                <span>Activation Date field is required</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT"
                           ng-disabled="registerForm.$invalid || registerForm.$pristine">
                    CREATE MY ACCOUNT
                </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text">Already have an account?</span>
                <a class="link" ui-sref="login">Log in</a>
            </div>
        </div>
    </div>
</div>